---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
type Props = CollectionEntry<"blog"> & {
  minimal?: true;
};

const { data, slug, minimal = false } = Astro.props;

const fullDate = data.pubDate.toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<li
  class=""
  class:list={{
    "sm:gap-2": !minimal,
    "lg:flex-row lg:items-baseline lg:justify-between": minimal,
  }}
>
  <a
    href={`/blog/${slug}/`}
    class="relative group flex flex-col sm:flex-row gap-0.5 border-b border-spacing-y-2 border-zinc-300 dark:border-zinc-800 py-6"
  >
    <Image
      src={data.hero}
      alt={data.heroAlt}
      width={640}
      height={480}
      class="sm:w-[240px] sm:h-[135px] shadow-sm rounded-md sm:mr-6 hover:opacity-80 transition"
      loading="eager"
    />
    <div class="flex flex-col">
      <time
        datetime={data.pubDate.toISOString()}
        class="text-sm mb-1 sm:mb-2 mt-3 sm:mt-1"
        class:list={{
          "lg:order-2": minimal,
        }}
        >{fullDate}
      </time>

      <p class="mb-1 font-semibold dark:text-zinc-300 text-zinc-950 group-hover:text-zinc-400 dark:group-hover:text-green transition-colors">{data.title}</p>

      {
        !minimal && (
          <p class="leading-relaxed max-w-prose">{data.description}</p>
        )
      }
    </div>
  </a>
</li>
